* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
body:hover{
    cursor: pointer;
}

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-animation: flipY 2s infinite;
    -webkit-animation-delay: calc(.04s * var(--i))
}

@-webkit-keyframes flipY {
    0%, 80% {
        transform: rotateY(360deg)
    }
}