{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title><title>ПРОЕКТ "КРЕМЛЁВСКАЯ ПАМЯТЬ"</title></title>
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/about.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
</head>
{% if bg_image %}
    <body class="u-body u-xl-mode" data-lang="ru"
          style="
                  background: rgba(225,225,225,0.35) url(
                  {% get_media_prefix %}{{ bg_image }}) no-repeat;
                  -moz-background-size: 100%; /* Firefox 3.6+ */
                  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
                  -o-background-size: 100%; /* Opera 9.6+ */
                  background-size: 100%; /* Современные браузеры */
                  ">
{% else %}
    <body class="u-body u-xl-mode" data-lang="ru">
{% endif %}
<header class=" u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-clearfix u-header u-section-row-container"
        id="sec-53f4" style="">
    <div class="u-section-rows">
        <div class="u-custom-color-1 u-section-row u-section-row-1">
            <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
                <p class="u-align-center u-text u-text-1"> Московское высшее общевойсковое командное
                    училище&nbsp;<br>Министерство обороны Российской Федерации
                </p>
                <a href="{% url 'start' %}">
                <img class="u-image u-image-contain u-image-default u-image-1"
                     src="{% get_media_prefix %}{{ "images/default/Эмблема.png" }}" alt=""
                     data-image-width="1181" data-image-height="1371"></a>
                <div class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
                    <div class="u-gallery-inner u-gallery-inner-1">
                        <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-image-width="1280"
                             data-image-height="1280">
                            <div class="u-back-slide">
                                <img class="u-back-image u-expanded u-image-contain"
                                     src="{% get_media_prefix %}{{ "images/default/жук.png" }}">
                            </div>
                            <div class="u-over-slide u-shading u-over-slide-1">
                                <h3 class="u-gallery-heading"></h3>
                                <p class="u-gallery-text"></p>
                            </div>
                        </div>
                        <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-image-width="1254"
                             data-image-height="1280">
                            <div class="u-back-slide">
                                <img class="u-back-image u-expanded u-image-contain"
                                     src="{% get_media_prefix %}{{ "images/default/лен.png" }}">
                            </div>
                            <div class="u-over-slide u-shading u-over-slide-2">
                                <h3 class="u-gallery-heading"></h3>
                                <p class="u-gallery-text"></p>
                            </div>
                        </div>
                        <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-image-width="1280"
                             data-image-height="1280">
                            <div class="u-back-slide">
                                <img class="u-back-image u-expanded u-image-contain"
                                     src="{% get_media_prefix %}{{ "images/default/ок.png" }}">
                            </div>
                            <div class="u-over-slide u-shading u-over-slide-3">
                                <h3 class="u-gallery-heading"></h3>
                                <p class="u-gallery-text"></p>
                            </div>
                        </div>
                        <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-image-width="1070"
                             data-image-height="1280">
                            <div class="u-back-slide">
                                <img class="u-back-image u-expanded u-image-contain"
                                     src="{% get_media_prefix %}{{ "images/default/кр.png" }}">
                            </div>
                            <div class="u-over-slide u-shading u-over-slide-4">
                                <h3 class="u-gallery-heading"></h3>
                                <p class="u-gallery-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="u-repeater u-block-control u-block-f578-32"
             style="display: flex;background-color:#a8191f; min-height: 45.1094px; justify-content: space-evenly"
             data-block="9"
             data-block-type="List" data-block-selected="true">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-block-control u-block-f578-33"
                 style="" data-block="10" data-block-type="ListItem">
                <div class="u-container-layout u-similar-container
        u-valign-middle u-block-f578-34" style="padding-top: 0.2658px; padding-bottom: 0.2658px; padding-left: 10px;
        padding-right: 10px" data-container-layout-dom="1"><a class="u-text u-text-default u-text-4"
                                                              href="{% url 'about' %}">История МВОКУ</a></div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-block-control u-block-f578-36"
                 style="" data-block="12" data-block-type="ListItem">
                <div class="u-container-layout u-similar-container
        u-valign-middle u-block-f578-37" style="padding-top: 0.2658px; padding-bottom: 0.2658px; padding-left: 10px;
        padding-right: 10px" data-container-layout-dom="2"><a class="u-text u-text-default u-text-4"
                                                              href="{% url 'find' %}">Поиск записей</a></div>
            </div>

            <div class="u-align-center u-container-style u-list-item u-repeater-item u-block-control u-block-f578-39"
                 style="" data-block="38" data-block-type="ListItem">
                <div class="u-container-layout u-similar-container
        u-valign-middle u-block-f578-40" style="padding-top: 0.2658px; padding-bottom: 0.2658px; padding-left: 10px;
        padding-right: 10px" data-container-layout-dom="5"><a class="u-text u-text-default u-text-4"
                                                              href="{% url 'about_project' %}">О проекте</a></div>
            </div>
        </div>

    </div>
</header>
<section class="u-clearfix u-grey-5 u-section-1" id="sec-e000">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1">История МВОКУ</h2>
        <p class="u-text u-text-2"> Училище было создано до опубликования декрета о создании Красной Армии и начало свою
            работу по личному указанию главы государства В.И. Ленина 15 декабря 1917 года, как 1-я Московская
            революционная пулеметная школа. В 1918 году школа преобразована в пулеметные курсы РККА, в 1922 году – в
            военную школу РККА. В июне 1958 года училище преобразовано в Московское Краснознаменное высшее общевойсковое
            командное училище имени Верховного Совета РСФСР. В 2004 году училище переименовано в Московское высшее
            военное командное училище (военный институт) Министерства обороны РФ.<br>
            <br>22 марта 2017 года распоряжением Правительства РФ училище было реорганизовано в Московское высшее
            общевойсковое командное училище<br>
        </p>
    </div>
</section>
<section class="u-clearfix u-grey-5 u-section-2" id="sec-691e">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h5 class="u-align-center u-text u-text-1"> В Московском высшем общевойсковом командном училище обучались</h5>
        <ul class="u-text u-text-2">
            <li> 5 Маршалов и свыше 600 генералов</li>
            <li>96 выпускников награждены званием Героями Советского Союза, из них 4 выпускника удостоены звания Героя
                Советского Союза дважды
            </li>
            <li>1 выпускник награжден званием Героем Социалистического труда</li>
            <li>20 выпускников училища удостоены звания Героя Российской Федерации</li>
        </ul>
    </div>
</section>
<section class="u-clearfix u-grey-5 u-section-3" id="sec-9738">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-text u-text-1"> За большой вклад в укрепление обороноспособности страны и подготовку
            высококвалифицированных офицерских кадров, училище четырежды было награждено правительственными
            наградами.</p>
    </div>
</section>

{% if admin_info %}
    <section class="u-clearfix u-grey-5 u-section-1" id="sec-e000"
             style="background-color: #333333; color: white; text-align: center">
        <div class="u-clearfix u-sheet u-block-982a-2" style="min-height: 145px;" data-block-type="Sheet">
            <p class="u-text u-block-control u-block-982a-9" data-block="37"
               style="width: 417px; margin: 20px auto 0px;"
               data-block-type="Text">{{ admin_info.fio }}</p>
            <p class="u-text u-block-control u-block-982a-9" data-block="37"
               style="width: 417px; margin: 20px auto 0px;"
               data-block-type="Text">{{ admin_info.mail }}</p>
        </div>
    </section>
{% endif %}
</body>
</html>