<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% load static %}
        <!DOCTYPE html>
        <html style="font-size: 16px;" lang="ru">
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>История МВОКУ</title>
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/about.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
    {#    <script class="u-script" type="text/javascript" src="{% static 'js/autoscroll.js' %}" defer=""></script>#}
</head>
{% if bg_image %}
    <body class="u-body u-xl-mode" data-lang="ru"
          style="
                  background: rgba(225,225,225,0.35) url(
                  {% get_media_prefix %}{{ bg_image }}) no-repeat;
                  -moz-background-size: 100%; /* Firefox 3.6+ */
                  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
                  -o-background-size: 100%; /* Opera 9.6+ */
                  background-size: 100%; /* Современные браузеры */
                  ">
{% else %}
    <body class="u-body u-xl-mode" data-lang="ru">
{% endif %}
<header class=" u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-clearfix u-header u-section-row-container"
        id="sec-53f4" style="">
    <div class="u-section-rows">
        <div class="u-custom-color-1 u-section-row u-section-row-1">
            <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
                <p class="u-align-center u-text u-text-1"> Московское высшее общевойсковое командное
                    училище&nbsp;<br>Министерство обороны Российской Федерации
                </p>
                <img class="u-image u-image-contain u-image-default u-image-1"
                     src="{% get_media_prefix %}{{ "images/default/Эмблема.png" }}" alt=""
                     data-image-width="1181" data-image-height="1371">
                <div class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
                    <div class="u-gallery-inner u-gallery-inner-1">
                        <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-image-width="1280"
                             data-image-height="1280">
                            <div class="u-back-slide">
                                <img class="u-back-image u-expanded u-image-contain"
                                     src="{% get_media_prefix %}{{ "images/default/жук.png" }}">
                            </div>
                            <div class="u-over-slide u-shading u-over-slide-1">
                                <h3 class="u-gallery-heading"></h3>
                                <p class="u-gallery-text"></p>
                            </div>
                        </div>
                        <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-image-width="1254"
                             data-image-height="1280">
                            <div class="u-back-slide">
                                <img class="u-back-image u-expanded u-image-contain"
                                     src="{% get_media_prefix %}{{ "images/default/лен.png" }}">
                            </div>
                            <div class="u-over-slide u-shading u-over-slide-2">
                                <h3 class="u-gallery-heading"></h3>
                                <p class="u-gallery-text"></p>
                            </div>
                        </div>
                        <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-image-width="1280"
                             data-image-height="1280">
                            <div class="u-back-slide">
                                <img class="u-back-image u-expanded u-image-contain"
                                     src="{% get_media_prefix %}{{ "images/default/ок.png" }}">
                            </div>
                            <div class="u-over-slide u-shading u-over-slide-3">
                                <h3 class="u-gallery-heading"></h3>
                                <p class="u-gallery-text"></p>
                            </div>
                        </div>
                        <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-image-width="1070"
                             data-image-height="1280">
                            <div class="u-back-slide">
                                <img class="u-back-image u-expanded u-image-contain"
                                     src="{% get_media_prefix %}{{ "images/default/кр.png" }}">
                            </div>
                            <div class="u-over-slide u-shading u-over-slide-4">
                                <h3 class="u-gallery-heading"></h3>
                                <p class="u-gallery-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="u-repeater u-block-control u-block-f578-32"
             style="display: flex;background-color:#a8191f; min-height: 45.1094px; justify-content: space-evenly"
             data-block="9"
             data-block-type="List" data-block-selected="true">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-block-control u-block-f578-33"
                 style="" data-block="10" data-block-type="ListItem">
                <div class="u-container-layout u-similar-container
        u-valign-middle u-block-f578-34" style="padding-top: 0.2658px; padding-bottom: 0.2658px; padding-left: 10px;
        padding-right: 10px" data-container-layout-dom="1"><a class="u-text u-text-default u-text-4"
                                                              href="{% url 'about' %}">История МВОКУ</a></div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-block-control u-block-f578-36"
                 style="" data-block="12" data-block-type="ListItem">
                <div class="u-container-layout u-similar-container
        u-valign-middle u-block-f578-37" style="padding-top: 0.2658px; padding-bottom: 0.2658px; padding-left: 10px;
        padding-right: 10px" data-container-layout-dom="2"><a class="u-text u-text-default u-text-4"
                                                              href="{% url 'find' %}">Поиск записей</a></div>
            </div>

            <div class="u-align-center u-container-style u-list-item u-repeater-item u-block-control u-block-f578-39"
                 style="" data-block="38" data-block-type="ListItem">
                <div class="u-container-layout u-similar-container
        u-valign-middle u-block-f578-40" style="padding-top: 0.2658px; padding-bottom: 0.2658px; padding-left: 10px;
        padding-right: 10px" data-container-layout-dom="5"><a class="u-text u-text-default u-text-4"
                                                              href="{% url 'about_project' %}">О проекте</a></div>
            </div>
        </div>
    </div>
</header>


<section class="u-clearfix u-grey-5 u-section-1" id="sec-e000">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1">ПРОЕКТ «Кремлевская Память»</h2>
        <p class="u-text u-text-2"> Проект «Кремлевская память» представляет собой электронную базу данных с информацией
            о выпускниках Московского высшего общевойскового командного училища, пожертвовавших своей жизнью во время
            исполнения служебного долга, в период с окончания Великой Отечественной войны по настоящее время.
        </p>
        <h5 class="u-align-center u-text u-text-1">ЗАДАЧИ ПРОЕКТА:</h5>
        <ul class="u-text u-text-2">
            <li>Сохранение памяти о выпускниках МВОКУ</li>
            <li>Предупреждение фальсификации исторических событий</li>
            <li>Воспитание в новых поколениях курсантов высоких морально-патриотических качеств</li>
            <li>Дань уважения погибшим товарищам</li>
        </ul>
    </div>
</section>
<section class="u-clearfix u-grey-5 u-section-3" id="sec-9738">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p></p>
        <h5 class="u-align-center u-text u-text-1">ИСТОРИЯ СОЗДАНИЯ ПРОЕКТА</h5>
        <p class="u-text u-text-1"> Разработка проекта «Кремлевская память» началась в январе 2023 года. В связи с
            проведением Вооруженными силами Российской Федерации специальной военной операции на территории Украины и
            отсутствием единого информационного источника сбора данных о погибших, зародилась идея общего накопления и
            сохранения в памяти поколений информации о выпускниках МВОКУ, чей вклад в будущее нашей Отчизны не может
            быть забыт. </p>
        <p class="u-text u-text-1">
            Для реализации этого проекта было решено создать локальный сайт, без доступа в глобальную сеть, с возможной
            функцией дополнения данных в режиме реального времени. Данная реализация проекта позволяет в кратчайшие
            сроки обрабатывать информацию и сохранять ее в базе данных.
        </p>
        <p class="u-text u-text-1">
            Основная суть заключается в доступности информации для заинтересованной погибшими категории лиц, будь то
            товарищи, друзья, близкие. Простой и удобный поиск информации об интересующем военнослужащем позволит без
            особого труда узнать героический путь, страницы биографии, увидеть доступные фото и видео материалы искомого
            человека.
        </p>
    </div>
</section>

{% if admin_info %}
    <section class="u-clearfix u-grey-5 u-section-1" id="sec-e000"
             style="background-color: #333333; color: white; text-align: center">
        <div class="u-clearfix u-sheet u-block-982a-2" style="min-height: 145px;" data-block-type="Sheet">
            <p class="u-text u-block-control u-block-982a-9" data-block="37"
               style="width: 417px; margin: 20px auto 0px;"
               data-block-type="Text">{{ admin_info.fio }}</p>
            <p class="u-text u-block-control u-block-982a-9" data-block="37"
               style="width: 417px; margin: 20px auto 0px;"
               data-block-type="Text">{{ admin_info.mail }}</p>
        </div>
    </section>
{% endif %}
</body>
</html>