{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>ПРОЕКТ "КРЕМЛЁВСКАЯ ПАМЯТЬ"</title>
    <link rel="stylesheet" href="{% static 'css/start_page.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/start_page.js' %}" defer=""></script>
</head>
<body onclick="window.location={% url 'find' %}">
  <div class="waviy">
    <span style="--i:1">П</span>
    <span style="--i:2">Р</span>
    <span style="--i:3">О</span>
    <span style="--i:4">Е</span>
    <span style="--i:5">К</span>
    <span style="--i:6">Т</span>
  </div>
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="waviy">
    <span style="--i:7">"</span>
    <span style="--i:8">К</span>
    <span style="--i:9">Р</span>
    <span style="--i:10">Е</span>
    <span style="--i:11">М</span>
    <span style="--i:12">Л</span>
    <span style="--i:13">Ё</span>
    <span style="--i:14">В</span>
    <span style="--i:15">С</span>
    <span style="--i:16">К</span>
    <span style="--i:17">А</span>
    <span style="--i:18">Я</span>
  </div>
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="waviy">
    <span style="--i:19">П</span>
    <span style="--i:20">А</span>
    <span style="--i:21">М</span>
    <span style="--i:22">Я</span>
    <span style="--i:23">Т</span>
    <span style="--i:24">Ь</span>
    <span style="--i:25">"</span>
  </div>
</body>

</html>